<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="default" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=BelatrixLog;Integrated Security=SSPI;MultipleActiveResultSets=True" />
  </connectionStrings>
  
  <appSettings>
    <add key="LogFileDirectory" value="c:\\"/>
  </appSettings>

</configuration>