<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <connectionStrings>  
        <add name="TestDatabase" 
             connectionString="Data Source=(LocalDB)\mssqllocaldb;AttachDbFilename=|DataDirectory|\BelatrixLog.mdf;Integrated Security=True" 
             providerName="System.Data.SqlClient"></add>
    </connectionStrings>  

</configuration>
